//light
$light-page-background-color: #e5e5e5;
$light-primary-color: #224957;
$light-input-background-color: #224957;
$light-input-text-color: #ffffff;
$light-button-background-color: #20df7f;
$light-error: #e90f0f;

//dark
$dark-page-background-color: #093545;
$dark-error: #980808;
$dark-primary-color: #ffffff;
$dark-input-background-color: #224957;
$dark-input-text-color: #ffffff;
$dark-button-background-color: #20df7f;
